@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .center {
    @apply flex justify-center items-center text-center;
  }
  .input {
    @apply border border-[--grey500];
  }
}
:root {
  --background: #dff1e7;
  --foreground: var(---grey900);
  --green600: #0c7d69;
  --red: #d73c3c;
  --grey500: #87a3a6;
  ---grey900: #2b4246;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: 16px;
}
